<mat-card class="task-card">
    <mat-card-header >
      <div style="flex-grow: 1; display: flex; align-items: center;">
        <mat-icon mat-card-avatar style="color: #fd9118" >assignment_turned_in</mat-icon>
        <mat-card-title style="margin-left: 8px;">{{data.name}}</mat-card-title>
      </div>

      <button mat-icon-button (click)="isCollapsed = !isCollapsed">
      <mat-icon >{{ isCollapsed ? 'expand_more' : 'expand_less' }}</mat-icon>
    </button>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">



        <button mat-menu-item (click)="onUp();update()">
          <mat-icon>arrow_upwards</mat-icon>
          <span>Subir</span>
        </button>

        <button mat-menu-item (click)="onDown()">
          <mat-icon>arrow_downward</mat-icon>
          <span>Descer</span>
        </button>


        <button mat-menu-item (click)="onDelete()">
          <mat-icon>delete</mat-icon>
          <span>Excluir</span>
        </button>

      </mat-menu>



    </mat-card-header>
    <mat-card-content style="margin-top: 15px;">
      <div [hidden]="isCollapsed">

        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label matTooltip="O agente responsável pela tarefa, designado diretamente ou pelo processo da equipe."  style="cursor: pointer;">Agente responsável</mat-label>
          <mat-select [(ngModel)]="data.agent" name="agent">
            @for (agent of filteredAgents | async; track agent;) {
              <mat-option [value]="agent">{{agent}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label matTooltip="Uma declaração clara e concisa sobre o que a tarefa envolve."  style="cursor: pointer;">Descrição da tarefa</mat-label>
          <textarea matInput placeholder="" [(ngModel)]="data.description"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label matTooltip="Uma descrição detalhada de como é a conclusão da tarefa."  style="cursor: pointer;">Saída esperada</mat-label>
          <textarea matInput placeholder="" [(ngModel)]="data.expectedOutput"></textarea>
        </mat-form-field>






      <!-- Tasks Section -->
      <form>
        <mat-form-field class="task-chip-list" >
          <mat-label matTooltip="Especifica tarefas cujas saídas são utilizadas como contexto para esta tarefa."  style="cursor: pointer;">Tarefas de contexto</mat-label>
          <mat-chip-grid #taskChipGrid aria-label="Task selection">
            <mat-chip-row *ngFor="let task of data.tasks; track task" (removed)="removeTask(task)">
              {{task}}
              <button matChipRemove [attr.aria-label]="'remove ' + task">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input placeholder="Inserir Tarefa..." #taskInput [formControl]="taskCtrl"
                 [matChipInputFor]="taskChipGrid" [matAutocomplete]="autoTask"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 (matChipInputTokenEnd)="addTask($event)" />
          <mat-autocomplete #autoTask="matAutocomplete" (optionSelected)="selectedTask($event)">
            <mat-option *ngFor="let task of filteredTasks | async; track task" [value]="task">
              {{task}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>


    <!-- Tools Section -->
        <form>
          <mat-form-field class="task-chip-list">
            <mat-label matTooltip="As funções ou capacidades que o agente pode utilizar para realizar a tarefa."  style="cursor: pointer;">Ferramentas</mat-label>
            <mat-chip-grid #chipGrid aria-label="Tool selection">
              <mat-chip-row *ngFor="let tool of data.tools; track tool" (removed)="remove(tool)">
                {{tool}}
                <button matChipRemove [attr.aria-label]="'remove ' + tool">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            </mat-chip-grid>
            <input placeholder="Inserir..." #toolInput [formControl]="toolCtrl"
                   [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="add($event)" />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let tool of filteredTools | async; track tool" [value]="tool">
                {{tool}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>


        <mat-checkbox [(ngModel)]="data.async" matTooltip="A tarefa é executada de forma assíncrona, permitindo o progresso sem precisar aguardar a conclusão.">Execução assíncrona</mat-checkbox>
        <mat-checkbox [(ngModel)]="data.human" matTooltip="Indica se a tarefa deve envolver revisão humana ao final, útil para tarefas que requerem supervisão humana.">Humano revisa</mat-checkbox>
      </div>
    </mat-card-content>



  </mat-card>
